@charset "utf-8";
@import '../common/var';
@import '../common/common';
:scope/*calendar*/ {
  display: block;
  riot-date{
    display: block;
    height: 100%;
  }
  .riot-calendar{
    &__main{
      position: relative;
      .prev,.next{
        width: 20%;
        position: absolute;
        top: 0;
        height: rSize(26*2);
        line-height: 2;
        z-index: 2;
        //background: red;
        i{
          position: absolute;
          width: rSize(16);
          height: rSize(16);
          top: 50%;
          left: 50%;
          margin-top: -1 * rSize(13);
          margin-left: -1 * rSize(8);
          border: {
            top: none;
            right: none;
            left: 2px solid $main-color;
            bottom: 2px solid $main-color;
          }
        }
        &.disable i{
          border-left-color: $calendar-disable-arrow-color;
          border-bottom-color: $calendar-disable-arrow-color;
        }
      }
      .prev{
        left: 0;
        i{
          transform: rotate(45deg);
        }

      }
      .next{
        right: 0;
        i {
          transform: rotate(-135deg);
        }

      }
    }
    &--multiple{
      &:before,&:after{
        content: '';
        display: table;
      }
      &:after{
        clear: both;
      }
      .riot-calendar__items{
        float: left;
        box-sizing: border-box;
      }
      .prev,.next{
        width: 15%;
      }
      @for $i from 2 through 6 {
        &-i#{$i}{
          .riot-calendar__items{
            width: (1 / $i - 0.01) * 100%;
            padding: 0 1%;
          }
        }
      }
    }
  }

  .riot-component__col {
    width: 14.285%;
    text-align: center;
    position: relative;
  }
  .weeks{
    font-size: rSize(26);
    color: $darkblack;
    line-height: rSize(26 + 22 * 2);
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 580 / 640 * 100%;
      height: 1px;
      background-color: $calendar-line-color;
      opacity: 0.97;
      left: 30 / 640 * 100%;
      bottom: 0;
      z-index: 2;
    } 
  }
  .title{
    text-align: center;
    color: $darkblack;
    font-size: rSize(26);
    line-height: 2;
    position: relative;
    height: rSize(26*2);
    overflow: hidden;
    margin: 0 20% rSize(16) 20%;
    &--cur{
      z-index: 2;
    }
    &--other{
      z-index: 1;
      pointer-events: none;
    }
  }
  .riot-calendar__body{
    padding: rSize(13) 0;
    position: relative;
    min-height: rSize((64 + 16) * 6);
    .pure-g{
      margin-top: rSize(16);
    }
    overflow: hidden;
    &--cur{
      z-index: 2;
    }
    &--other{
      z-index: 1;
      pointer-events: none;
    }
  }
  .riot-calendar__body--cur,.riot-calendar__body--other,.title__cur,.title__other{
    will-change: transform, opacity;
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    animation-play-state: paused;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
    //animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    &.calendar-fadeInLeft{
      animation-name: riot-calendar-fadeInFromLeft;
    }
    &.calendar-fadeInRight{
      animation-name: riot-calendar-fadeInFromRight;
    }
    &.calendar-fadeOutLeft{
      animation-name: riot-calendar-fadeOutFromLeft;
    }
    &.calendar-fadeOutRight{
      animation-name: riot-calendar-fadeOutFromRight;
    }
    &.animation{
      animation-play-state: running;
    }
  }
  .riot-calendar__body--cur,.riot-calendar__body--other{
    top: rSize(8);
    height: 100%;
  }
  

  .date-placeholder{
    display: block;
  }
  .date,.date-placeholder{
    height: rSize(64);
    line-height: rSize(64);
    text-align: center;
    cursor: default;
    i {
      font-style: normal;
    }
  }
  .disable{
    color: $calendar-day-disable-color;
  }
  .enable {
    color: $calendar-day-color;
  }



  .choice,.change{
    .date {
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 2;
      left: 50%;
      margin-left: -16px;
      @include box-sizing;
      line-height: r-size(32);
      display: inline-block;
      .riot-date--bg{
        width: 100%;
        height: 100%;
        @include border-radius(50%);
        content: '';
        background-color: $main-color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        animation-duration: 0.45s;
        animation-fill-mode: forwards;
        //animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        will-change: transform, opacity;
      }
      &.riot-calendar-in{
        .riot-date--bg{
          animation-name: riot-calendar-scaleIn;
        }
      }
      &.riot-calendar-out{
        .riot-date--bg{
          animation-name: riot-calendar-scaleOut;
        }
      }
    }

  }
  .choice.enable{
    color: #fff;
  }
  
  .range--area {
    background-color: $calendar-day-high-color;
    .enable .date{
      color: #fff;
    }
  }

  .checkoutrange {
    font-weight: bold;
  }

  .range--start, .range--end {
    &:before {
      width: 50%;
      //UC10.2上before,after伪元素只能设置固定高度值，否则，不会有高度
      //height: 100%;
      height: 32px;
      position: absolute;
      top: 0;
      background-color: $calendar-day-high-color;
      content: " ";
    }
  }
  .range--start{
    &:before{
      right: 0;
    }
  }

  .range--end {
    &:before {
      left: 0;
    }
  }
}

@keyframes riot-calendar-fadeInFromLeft {
  0%{
    transform: translateX(-100%);
    opacity: 0
  }
  100%{
    transform: translateX(0);
    opacity: 1
  }
}
@keyframes riot-calendar-fadeOutFromLeft {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes riot-calendar-fadeInFromRight {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes riot-calendar-fadeOutFromRight {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes riot-calendar-scaleIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacith: 1;
  }
}
@keyframes riot-calendar-scaleOut{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0);
    opacity: 0
  }
}