riot-calendar .pure-u-1-8 {
  width: 14.285%;
  text-align: center; }
riot-calendar .weeks {
  font-size: 0.8125rem;
  color: #333333;
  line-height: 2.1875rem;
  position: relative; }
  riot-calendar .weeks:after {
    position: absolute;
    content: '';
    width: 90.625%;
    height: 1px;
    background-color: #efebea;
    opacity: 0.97;
    left: 4.6875%;
    bottom: 0;
    z-index: 2; }
riot-calendar .control {
  text-align: center;
  margin-bottom: 0.5rem; }
  riot-calendar .control .title {
    color: #333333;
    font-size: 0.8125rem;
    line-height: 2;
    position: relative;
    height: 1.625rem;
    overflow: hidden; }
  riot-calendar .control .prev, riot-calendar .control .next {
    position: relative; }
    riot-calendar .control .prev i, riot-calendar .control .next i {
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      top: 50%;
      left: 50%;
      margin-top: -0.25rem;
      margin-left: -0.25rem;
      border-top: none;
      border-right: none;
      border-left: 2px solid #7f1f59;
      border-bottom: 2px solid #7f1f59; }
    riot-calendar .control .prev.disable i, riot-calendar .control .next.disable i {
      border-left-color: #b8b8b8;
      border-bottom-color: #b8b8b8; }
  riot-calendar .control .prev i {
    transform: rotate(45deg); }
  riot-calendar .control .next i {
    transform: rotate(-135deg); }
riot-calendar .calendar__body {
  padding: 0.40625rem 0;
  position: relative;
  min-height: 15rem; }
  riot-calendar .calendar__body .pure-g {
    margin-top: 0.5rem; }
riot-calendar .calendar__body--cur, riot-calendar .calendar__body--other, riot-calendar .title__cur, riot-calendar .title__other {
  will-change: transform, opacity;
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  animation-play-state: paused;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
  riot-calendar .calendar__body--cur.calendar-fadeInLeft, riot-calendar .calendar__body--other.calendar-fadeInLeft, riot-calendar .title__cur.calendar-fadeInLeft, riot-calendar .title__other.calendar-fadeInLeft {
    animation-name: riot-calendar-fadeInFromLeft; }
  riot-calendar .calendar__body--cur.calendar-fadeInRight, riot-calendar .calendar__body--other.calendar-fadeInRight, riot-calendar .title__cur.calendar-fadeInRight, riot-calendar .title__other.calendar-fadeInRight {
    animation-name: riot-calendar-fadeInFromRight; }
  riot-calendar .calendar__body--cur.calendar-fadeOutLeft, riot-calendar .calendar__body--other.calendar-fadeOutLeft, riot-calendar .title__cur.calendar-fadeOutLeft, riot-calendar .title__other.calendar-fadeOutLeft {
    animation-name: riot-calendar-fadeOutFromLeft; }
  riot-calendar .calendar__body--cur.calendar-fadeOutRight, riot-calendar .calendar__body--other.calendar-fadeOutRight, riot-calendar .title__cur.calendar-fadeOutRight, riot-calendar .title__other.calendar-fadeOutRight {
    animation-name: riot-calendar-fadeOutFromRight; }
  riot-calendar .calendar__body--cur.animation, riot-calendar .calendar__body--other.animation, riot-calendar .title__cur.animation, riot-calendar .title__other.animation {
    animation-play-state: running; }
riot-calendar .calendar__body--cur, riot-calendar .calendar__body--other {
  top: 0.25rem;
  height: 100%; }
riot-calendar .day {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #c5c5c5; }
  riot-calendar .day i {
    font-style: normal; }
  riot-calendar .day span {
    display: none; }
riot-calendar .enable {
  color: #393836; }
riot-calendar .pure-u-1-8 {
  position: relative; }
riot-calendar .choice {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -16px;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2rem;
  display: inline-block; }
  riot-calendar .choice i {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    content: '';
    background-color: #7f1f59;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform, opacity; }
  riot-calendar .choice.riot-calendar-scaleIn i {
    animation-name: riot-calendar-scaleIn; }
  riot-calendar .choice.riot-calendar-scaleOut i {
    animation-name: riot-calendar-scaleOut; }
riot-calendar .high {
  background-color: #eee2e9; }
  riot-calendar .high .day.enable {
    color: #fff; }
riot-calendar .checkoutrange {
  font-weight: bold; }
riot-calendar .rangeStart:before, riot-calendar .rangeEnd:before {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #eee2e9;
  content: ""; }
riot-calendar .rangeEnd:before {
  left: 0; }

@keyframes riot-calendar-fadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes riot-calendar-fadeOutFromLeft {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }
@keyframes riot-calendar-fadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes riot-calendar-fadeOutFromRight {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(-100%);
    opacity: 1; } }
@keyframes riot-calendar-scaleIn {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacith: 1; } }
@keyframes riot-calendar-scaleOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }

/*# sourceMappingURL=calendar.css.map */
