body, div, span, small, p, em, i, b, th, td, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea { padding: 0; margin: 0; }

a { cursor: pointer; text-decoration: none; }

a img { border: none; }

ul, ol { list-style: none; }

table { border-spacing: 0; border-collapse: collapse; }

input:focus, select:focus, textarea:focus, select:hover, button { margin: 0; outline: none; }

/* disable firefox gradient */
input, button { background-image: none; }

input, textarea, select { -webkit-appearance: none; appearance: none; }

body, div, span, small, p, em, i, b, th, td, dl, dt, dd, ul, ol, li, a, h1, h2, h3, h4, h5, h6, form, textarea { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); -moz-tap-highlight-color: rgba(0, 0, 0, 0.1); -ms-tap-highlight-color: rgba(0, 0, 0, 0.1); tap-highlight-color: rgba(0, 0, 0, 0.1); }

input { -webkit-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent; -ms-tap-highlight-color: transparent; tap-highlight-color: transparent; }
